

/*Header Section*/
#navbar{
    height:fit-content;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding:4%;
}
#logo{
    font-size: xx-large;
}
.nav{
    height: 8%;
    flex-shrink: initial;
    align-items: center;
}
#start{
    background-color: #ed661f;
    padding:1%;
    margin-top: -2.5%;
    margin-bottom: 2%;
}
/*Main Content 1*/

#intro{
    background-image: url('../images/image 1.png');
    
}
#explore{
    width:10%;
    height:10%;
    color:white;
    background-color: #ed661f;
    padding:2%;

}