

/*Header Section*/
#navbar{
    height:fit-content;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding:4%;
}
#logo{
    font-size: xx-large;
}
.nav{
    height: 8%;
    flex-shrink: initial;
    align-items: center;
}
#start{
    background-color: #ed661f;
    padding:1%;
    margin-top: -2.5%;
    margin-bottom: 2%;
}
/*Main Content 1*/

#intro{
    background-image: url('../images/image 1.png');
    
}
#explore{
    width:10%;
    height:10%;
    color:white;
    background-color: #ed661f;
    padding:2%;

}
.figures{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    background-color:rgb(251, 249, 246);
    margin-left: 10%;
    margin-right: 40%;
    width: 60%;
}
/*Footer Section*/
#footer{
    color: white;
    background-color: black;
}
.email_sub{
    text-align: center;
    margin-top: 20%;

}
.social_media{
    width: 50px;
    /*background-color: white;*/
    margin: 2%;
    display: inline-flex ;
    flex-direction: row;

}